<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TwoTicketsPizza</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'img/logo.jpg' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/4.4_dist_css_bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

<div class="header">
    {% block header %}
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
            <ul class="navbar-nav mr-auto">
                <li id="overview-nav-item" class="nav-item">
                    <a id="home-nav-item" class="navbar-brand" href="/">
                        <img class="rounded-circle" src="{% static 'img/logo.jpg' %}" width="50" height="50" alt=""> TwoTicketsPizza
                    </a>
                </li>
            </ul>
        </nav>
    {% endblock header %}
</div>

<div class="main" style="min-height: 73vh">
    {% block content %}

    {% endblock content %}
</div>


<div class="footer">
    {% block footer %}
        <footer class="page-footer bg-dark text-light" style="margin: auto">
            <div class="footerimg pt-3">
                <img src="{% static "img/logo.jpg" %}" alt="footer_logo" class="rounded-circle mx-auto d-block"
                     width="100" height="100">
            </div>
            <div class="footer-copyright text-center py-4">© 2021 Copyright: TwoTicketsPizza</div>
        </footer>
    {% endblock footer %}
</div>


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>

<script src="{% static 'js/order_link.js' %}"></script>

</body>
</html>