{% extends "base.html" %}

{% load static %}
{% block content %}
    <div class="text-center container-fluid">
        <h3 class="mt-4 text-dark">TwoTickets Pizza</h3>
        <hr>

        <div class="card-group">

            <div class="card mr-3" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'img/pizza_salami.jpg' %}" alt="Pizza Salami">
                <div class="card-body">
                    <h5 class="card-title">Pizza Salami 6,99€</h5>
                    <select class="form-control mb-3 pizza_size_select" id="pizza_size_salami" name="pizza_size">
                        <option value="S">Small</option>
                        <option value="M">Medium</option>
                        <option value="L">Large</option>
                    </select>
                    <a class="btn btn-primary order_link" href="/order/Salami/">Order</a>
                </div>
            </div>


            <div class="card mr-3" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'img/pizza_margherita.jpg' %}" alt="Pizza Magherita">
                <div class="card-body">
                    <h5 class="card-title">Pizza Magherita 5,99€</h5>
                    <select class="form-control mb-3 pizza_size_select" id="pizza_size_magherita" name="pizza_size">
                        <option value="M">Medium</option>
                        <option value="L">Large</option>
                    </select>
                    <a class="btn btn-primary order_link" href="/order/Magherita/">Order</a>
                </div>
            </div>


            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="{% static 'img/pizza_diavolo.jpg' %}" alt="Pizza Devolo">
                <div class="card-body">
                    <h5 class="card-title">Pizza Diavolo 7,99€</h5>
                    <select class="form-control mb-3 pizza_size_select" id="pizza_size_diavolo" name="pizza_size">
                        <option value="S">Small</option>
                        <option value="M">Medium</option>
                        <option value="L">Large</option>
                    </select>
                    <a class="btn btn-primary order_link" href="/order/Diavolo/">Order</a>
                </div>
            </div>

        </div>

    </div>
{% endblock %}