{% extends "base.html" %}

{% load static %}
{% block content %}
    <div class="text-center container-fluid">
        <h3 class="mt-4 text-dark">Your choice: One pizza {{ pizza_type }} {{ pizza_size }}</h3>
        <hr>

        <div class="w-50" style="margin-left: 25%">
            <h4>Please fill every field:</h4>
            <form method="POST">
                {% csrf_token %}

                <div class="form-group">
                    <label for="client_name">Name</label>
                    <input type="text" placeholder="Name" class="form-control" id="client_name"
                           name="client_name" maxlength="75">
                </div>
                <div class="form-group">
                    <label for="client_email">Email</label>
                    <input type="text" placeholder="Email" class="form-control" id="client_email"
                           name="client_email" maxlength="255">
                </div>
                <div class="form-group">
                    <label for="client_phone">Phone Number</label>
                    <input type="text" placeholder="Phone Number" class="form-control" id="client_phone"
                           name="client_phone" maxlength="15">
                </div>


                <input type="hidden" name="pizza_type" value="salami">
                <input type="hidden" name="pizza_type" value="salami">
                <button class="btn btn-primary mb-3" type="submit">Order Now!</button>
            </form>

            {% if error_msg %}
                <div class="alert alert-primary mb-3" role="alert" style="margin-top: 15px">
                    {{ error_msg }}
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}