{% extends "base.html" %}

{% load static %}
{% block content %}
    <div class="text-center container-fluid">
        <h3 class="mt-4 text-dark">All Orders:</h3>
        <hr>

        <div class="row">
            <div class="col-3">
                <form method="POST">
                    {% csrf_token %}
                    <div class="card text-center">
                        <div class="card-header">
                            <h5 class="card-title">Filter</h5>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="client_name">Name</label>
                                <input type="text" placeholder="Name" class="form-control" id="client_name"
                                       name="client_name">
                            </div>
                            <div class="form-group">
                                <label for="client_email">Email</label>
                                <input type="text" placeholder="Email" class="form-control" id="client_email"
                                       name="client_email">
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" class="btn btn-primary">Filtern</button>
                        </div>
                    </div>
                </form>

            </div>

            <div class="col">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">Client Name</th>
                        <th scope="col">Client Email</th>
                        <th scope="col">Pizza Type</th>
                        <th scope="col">Pizza Size</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                        <tr>
                            <td>{{ order.client_name }}</td>
                            <td>{{ order.client_email }}</td>
                            <td>{{ order.pizza_type }}</td>
                            <td>{{ order.get_pizza_size_display }}</td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>

        </div>

    </div>
{% endblock %}