{% extends "base.html" %}

{% load static %}
{% block content %}
    <div class="text-center container-fluid" style="margin-top: 20%">
        <h3 class="mt-4 text-dark">Thank you {{ client_name }}, you succsessfully submitted your order!</h3>
        <hr>
        <h4 class="mt-4 text-dark">Your pizza should arrive within the next 15 minutes!:</h4>
        <a class="btn btn-primary mt-1" href="/">Back to Homepage</a>
    </div>
{% endblock %}